

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.btn-danger {
  color: #fff !important;
  background-color: #dc3545 !important;
  border-color: #dc3545 !important;
}

.btn-warning {
  color: #000 !important;
  background-color: #ffc107 !important;
  border-color: #ffc107 !important;
}
